# PHPStorm
/.idea/

# VSCodeish
*.code-workspace

# Composer
/vendor/
/composer.phar

# Build data
.env
*.lock
*.cache
/config/
/templates
/index.php
/*.html
/*.latte
/*.css

# Node
/node_modules/
package-lock.json